{% extends "base.html" %}
{% load pagination_tags %}

{% block title %}
    <title>TODYP - Tools</title>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    {% load tableSort %}
    {% load getDict %}
    <link rel="stylesheet" type="text/css" href="{% static 'tools/tools.css' %}"/>
    <script src="/static/tools/intergenic.js"></script>
    <script src='/static/browse/jquery.fileDownload.js'></script>

    <div class="main">

        <ol class="breadcrumb">
            <li><a href="{% url 'ypga.views.index' %}">Home</a></li>
            <li><a href="{% url 'tools:index' %}">Tools</a></li>
            <li><a href="{% url 'tools:intergenic' %}">Intergenic Analysis</a></li>
            <li class="active">Result</li>
        </ol>

        <div class="toolsMain">

            <div id="ids" style="display: none">{{ ids }}</div>
            <div id="csrf" style="display:none" value="{% csrf_token %}"></div>

            <div id="geneSummary">Summary: Query result contains <span
                    id="interactions">{{ interactions }}</span> entr{{ interactions|pluralize:'y,ies' }}.
            </div>

            <div id="functionDiv" class="functionDiv">
                <div id="selectHint" class="selectHint">
                    <b><span id="selectNumber">0</span></b> items selected
                </div>
                <input type="checkbox" id="selectAllPage" value="selectAllPage" onclick="selectAllPage(this);">
                <label id="selectAllPage"> Select all records </label>

                        <span id="buttonGroup">
                            <button id="downloadFunc" class="btn btn-primary btn-sm"
                                    onclick="performFunction('download');">Download
                            </button>

                        </span>
                        <span id="geneDownloadTip"><a href="{% url 'help:browseHelp' %}#homology" target="_blank"><img
                                src="/static/images/info_20x20.png"></a></span>


            </div>
            <div id="preparing-file-modal" title="Preparing report..." style="display: none;">
                We are preparing your file, please wait...

                <div class="ui-progressbar-value ui-corner-left ui-corner-right"
                     style="width: 100%; height:22px; margin-top: 20px;"></div>
            </div>

            <div id="error-modal" title="Error" style="display: none;">
                There was a problem generating your file, please try again.
            </div>

            {% if result %}
                <table class="table table-hover table-striped table-bordered table-condensed" id="geneTable">
                    <thead>
                    <tr class="success">
                        <th id="tableSelectAll">
                            <input type="checkbox" id="selectCurrentPage" value="selectCurrentPage"
                                   onclick="selectCurrentPage(this)">
                        </th>
                        <th name="idintergenic"><a href="?{% url_replace request 'order_by' 'idintergenic' %}">idintergenic</a></th>
                        <th name="genomerefno"><a href="?{% url_replace request 'order_by' 'genomerefno' %}">genomerefno</a></th>
                        <th name="strain"><a href="?{% url_replace request 'order_by' 'strain' %}">strain</a></th>
{#                        <th name="length"><a#}
{#                                href="?{% url_replace request 'order_by' 'length' %}">length</a>#}
{#                        </th>#}
                        <th name="upstreamgeneid"><a
                                href="?{% url_replace request 'order_by' 'upstreamgeneid' %}">upstreamgeneid</a>
                        </th>
                        <th name="downstreamgeneid"><a
                                href="?{% url_replace request 'order_by' 'downstreamgeneid' %}">downstreamgeneid</a>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    {% autopaginate result %}
                    {% for item in result %}
                        <tr>
                            <td id="tableSelect">
                                <input type="checkbox" name="tableRowCheckBox"
                                       id={{ item.idintergenic }} value={{ item.idintergenic }}
                                       onclick="stillSelectAll(this);">
                            </td>
                            <td><a href="/tools/intergenicView/{{ item.idintergenic }}">{{ item.idintergenic }}</a>
                            </td>
                            <td>{{ item.genomerefno }}</td>
                            <td>{{ item.strain }}</td>
{#                            <td>{{ item.length }}</td>#}
                            <td>{{ item.upstreamgeneid }}</td>
                            <td>{{ item.downstreamgeneid }}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div id="pager">{% paginate %}</div>
            {% else %}
                <p>No results.</p>
            {% endif %}


        </div>

    </div>

{% endblock %}