{% extends "base.html" %}
{% load pagination_tags %}

{% block title %}
    <title>TODYP - Browse</title>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    {% load tableSort %}
    {% load getDict %}
    <link rel="stylesheet" type="text/css" href="{% static 'browse/browse.css' %}"/>
    <script src="/static/browse/exp.js"></script>
    <script src='/static/browse/jquery.fileDownload.js'></script>

    <div class="main">

    <ol class="breadcrumb">
        <li><a href="{% url 'ypga.views.index' %}">Home</a></li>
        <li><a href="{% url 'browse:index' %}">Browse</a></li>
        <li class="active">Expression Profile</li>
    </ol>

    <div class="browseMain">

    <div id="geneSummary">Summary: Strain <span id="strain">{{ strain }}</span> contains <span
            id="interactions">{{ interactions }}</span> entr{{ interactions|pluralize:'y,ies' }}.

    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Select columns to display</h4>
                </div>
                <div class="modal-body">
                    <div class="checkboxAll">
                        <label class="checkbox-inline"><input type="checkbox" id="selectAllColumns" value="All"
                                                              onclick="changeState(this)"><b>Select
                            All</b></label>
                        <table class="checkTable">

                            <tr>
                                {% for item1,item2 in columns %}
                                    <td><label class="checkbox-inline"><input type="checkbox"
                                                                              name="checkboxColumn"
                                                                              id="checkboxColumn"
                                                                              value="{{ item1 }}"> {{ item2 }}
                                    </label></td>
                                    {% ifequal forloop.counter 2 %}
                                        </tr>
                                        <tr>
                                    {% endifequal %}
                                {% ifequal forloop.counter 4 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 6 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 8 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 10 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 12 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}
                                {% ifequal forloop.counter 14 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}

                                {% ifequal forloop.counter 16 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}

                                {% ifequal forloop.counter 18 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}

                                {% ifequal forloop.counter 20 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}

                                {% ifequal forloop.counter 22 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}

                                {% ifequal forloop.counter 24 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}

                                {% ifequal forloop.counter 26 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}

                                {% ifequal forloop.counter 28 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}

                                {% ifequal forloop.counter 30 %}
                                    </tr>
                                    <tr>
                                {% endifequal %}

                                {% endfor %}
                                </tr>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal"
                            onclick="changeColumns(this);">
                        Save changes
                    </button>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

    <table id="expTable">
        <tr>
            <td id="leftTd">
                <div id="functionDiv" class="functionDiv">
                    <div id="selectHint" class="selectHint">
                        <b><span id="selectNumber">0</span></b> items selected
                    </div>
                    <input type="checkbox" id="selectAllPage" value="selectAllPage"
                           onclick="selectAllPage(this);">
                    <label id="selectAllPage"> Select all records </label>

                        <span id="buttonGroup">
                            <button id="downloadFunc" class="btn btn-primary btn-sm"
                                    onclick="performFunction('download');">Download
                            </button>

                        </span>
                        <span id="geneDownloadTip"><a href="{% url 'help:browseHelp' %}#exp" target="_blank"><img
                                src="/static/images/info_20x20.png"></a></span>

                </div>
            </td>
            <td id="rightTd">
                <div id="displayBar" class="displayBar">

                    <!-- Button trigger modal -->
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
                        Custom Display Columns
                    </button>

                </div>
            </td>
        </tr>
    </table>
    <div id="preparing-file-modal" title="Preparing report..." style="display: none;">
        We are preparing your file, please wait...

        <div class="ui-progressbar-value ui-corner-left ui-corner-right"
             style="width: 100%; height:22px; margin-top: 20px;"></div>
    </div>

    <div id="error-modal" title="Error" style="display: none;">
        There was a problem generating your file, please try again.
    </div>

    {% if result %}
        <table class="table table-hover table-striped table-bordered table-condensed" id="geneTable">
            <thead>
            <tr class="tableHead">
                <th id="tableSelectAll">
                    <input type="checkbox" id="selectCurrentPage" value="selectCurrentPage"
                           onclick="selectCurrentPage(this)">
                </th>
                {% for key,value in displayColumnsDic %}
                    <th name="{{ key }}">
                        <a href="?{% url_replace request 'order_by' key %}">{{ value }}</a>
                    </th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% autopaginate result %}
            {% for item in result %}
                <tr>
                    <td id="tableSelect">
                        <input type="checkbox" name="tableRowCheckBox"
                               id={{ item.locus }} value={{ item.locus }}
                               onclick="stillSelectAll(this);">
                    </td>

                    {% for key,value in displayColumnsDic %}
                        {% ifequal key 'locus' %}
                            <td><a href='/browse/expDetail/{{ item.locus }}'>{{ item.locus }}</a></td>
                        {% endifequal %}

                        {% ifequal key 'genomerefno' %}
                            <td>{{ item.genomerefno }}</td>
                        {% endifequal %}

                        {% ifequal key 'genename' %}
                            <td>{{ item.genename }}</td>
                        {% endifequal %}

                        {% ifequal key 'classnum' %}
                            <td>{{ item.classnum }}</td>
                        {% endifequal %}

                        {% ifequal key 'number_37_vs_26celsius' %}
                            <td>{{ item.number_37_vs_26celsius }}</td>
                        {% endifequal %}

                        {% ifequal key 'cold_shock' %}
                            <td>{{ item.cold_shock }}</td>
                        {% endifequal %}

                        {% ifequal key 'heat_shock' %}
                            <td>{{ item.heat_shock }}</td>
                        {% endifequal %}


                        {% ifequal key 'high_salt' %}
                            <td>{{ item.high_salt }}</td>
                        {% endifequal %}

                        {% ifequal key 'high_osmolarity' %}
                            <td>{{ item.high_osmolarity }}</td>
                        {% endifequal %}

                        {% ifequal key 'ompr_mutant_hs' %}
                            <td>{{ item.ompr_mutant_hs }}</td>
                        {% endifequal %}

                        {% ifequal key 'ompr_mutant_ho' %}
                            <td>{{ item.ompr_mutant_ho }}</td>
                        {% endifequal %}

                        {% ifequal key 'annovalidatetype' %}
                            <td>{{ item.annovalidatetype }}</td>
                        {% endifequal %}

                        {% ifequal key 'id_koo' %}
                            <td>{{ item.id_koo }}</td>
                        {% endifequal %}

                        {% ifequal key 'h2o2' %}
                            <td>{{ item.h2o2 }}</td>
                        {% endifequal %}

                        {% ifequal key 'oxyr' %}
                            <td>{{ item.oxyr }}</td>
                        {% endifequal %}

                        {% ifequal key 'ph5point5' %}
                            <td>{{ item.ph5point5 }}</td>
                        {% endifequal %}

                        {% ifequal key 'phop_ph5point5' %}
                            <td>{{ item.phop_ph5point5 }}</td>
                        {% endifequal %}

                        {% ifequal key 'fur_26celsius' %}
                            <td>{{ item.fur_26celsius }}</td>
                        {% endifequal %}

                        {% ifequal key 'fur_37celsius' %}
                            <td>{{ item.fur_37celsius }}</td>
                        {% endifequal %}

                        {% ifequal key 'fe2_26temp' %}
                            <td>{{ item.fe2_26temp }}</td>
                        {% endifequal %}

                        {% ifequal key 'fe2_37celsius' %}
                            <td>{{ item.fe2_37celsius }}</td>
                        {% endifequal %}

                        {% ifequal key 'chloromycetin' %}
                            <td>{{ item.chloromycetin }}</td>
                        {% endifequal %}

                        {% ifequal key 'tetracycline' %}
                            <td>{{ item.tetracycline }}</td>
                        {% endifequal %}

                        {% ifequal key 'streptomycin' %}
                            <td>{{ item.streptomycin }}</td>
                        {% endifequal %}

                        {% ifequal key 'exponential_vs_stationary_phase_bhi' %}
                            <td>{{ item.exponential_vs_stationary_phase_bhi }}</td>
                        {% endifequal %}

                        {% ifequal key 'exponential_vs_stationary_tmh' %}
                            <td>{{ item.exponential_vs_stationary_tmh }}</td>
                        {% endifequal %}

                        {% ifequal key 'tmh_vs_bhi_exponential_phase' %}
                            <td>{{ item.tmh_vs_bhi_exponential_phase }}</td>
                        {% endifequal %}

                        {% ifequal key 'tmh_vs_bhi_stationary_phase' %}
                            <td>{{ item.tmh_vs_bhi_stationary_phase }}</td>
                        {% endifequal %}

                        {% ifequal key 'antibacterial_peptides' %}
                            <td>{{ item.antibacterial_peptides }}</td>
                        {% endifequal %}

                        {% ifequal key 'source' %}
                            <td>{{ item.source }}</td>
                        {% endifequal %}

                        {% ifequal key 'other' %}
                            <td>{{ item.other }}</td>
                        {% endifequal %}


                    {% endfor %}

                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div id="pager">{% paginate %}</div>
    {% else %}
        <p>No results.</p>
    {% endif %}


    </div>

    </div>

{% endblock %}