body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Helvetica, Verdana, Tahoma, sans-serif;
    background-color: #ccc;
}

.main{
    border-radius: 0px !important;
    border-top: 0px !important;
    min-height: 600px;
}

table th{
    vertical-align: middle !important;
}

.tableHead{
    background-color: #add8e6;
}

.container {
    margin-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
}

/*top logo part*/
.top {
    padding: 10px 10px 0px 20px;
    margin-left: 0px;
    margin-bottom: 0px;
    border-radius: 5px 5px 0px 0px;
    /*background-color: #6699CC;*/
    background-color: #2B6092;
    height: 100px;
}

.top img {
    float: left;
    margin-right: 15px;
}

.top #logo{
    margin-bottom: 10px;
}


.top #top-logo-title {
    display: inline;
    margin-left: 10px;
    font-size: 20px;
    color: white;
    margin-bottom: 5px;
}

.top #top-des {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    color: white;
}

#top-des a {
    color: white;
    font-weight: bold;
}

/*versionupdate*/
/*top logo part*/
.versionTop {
    padding: 20px 0px 10px 0px;
    margin: auto;
    border-radius: 5px 5px 5px 5px;
    background-color: #2B6092;
    width: 960px;
}

.versionTop img {
    float: left;
    margin-right: 15px;
}

.versionMain {
    padding: 20px 0px 10px 0px;
    margin: 5px auto 10px auto;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
    width: 960px;
    font-size: 18px;
    height: 100%;
}

#detectModalContent {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 50px;
}

#detectModalContent p {
    margin-bottom: 50px;
}

#detectModalContent table {
    text-align: center;
    margin: auto;
}

.versionfooter {
    border-radius: 5px;
    background-color: #2B6092;
    color: white;
    padding: 5px 8px 5px 0;
    clear: both;
    font-size: 1em;
    text-align: center;
    margin: 10px auto 0px auto;
    width: 960px;
}

.versionfooter a {
    color: white;
    text-decoration: none;
    font-style: italic;
}

.versionfooter a:hover {
    color: blue;
}

/*default error page*/
.errorMain {
    background-color: white;
    border-radius: 5px;
    min-height: 500px;
    font-size: 18px;
    padding: 40px 100px 10px 100px;

}

.errorMain .errorimage {
    text-align: center;
    margin: 10px auto 10px auto;
}

/*nav part*/
.navbar .nav > li:hover .dropdown-menu {
    display: block;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
    border:1px solid;
}

/*search part*/
.search {
    background-color: #2B6092;
    text-align: right;
    padding-right: 10px;
}

/*background-color: #6699CC;*/
.search #select-type {
    margin-right: 10px;
    width: 150px;
    display: inline;
}

.search .query {
    height: 30px;
    width: 200px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    background-color: #FFF;
    background-image: none;
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.btn {
    margin-left: 0px;
    vertical-align: inherit;
}

/*delectable search*/
span.deleteicon {
    position: relative;
}

span.deleteicon span {
    position: absolute;
    display: block;
    top: 5px;
    right: 0px;
    width: 25px;
    height: 25px;
    background: url('http://cdn.sstatic.net/stackoverflow/img/sprites.png?v=4') 0 -690px;
    cursor: pointer;
}

span.deleteicon input {
    padding-right: 16px;
}

/*footer part*/
div.footer {
    border-radius: 0px 0px 5px 5px;
    background-color: #2B6092;
    color: white;
    padding: 5px 8px 5px 0;
    clear: both;
    text-align: center;
    vertical-align: middle;
    margin-top: 0px;
    margin-bottom: 10px;
}

div.footer a {
    color: white;
    text-decoration: none;
    font-style: italic;
}

div.footer a:hover {
    color: orangered;
}

/*for autocomplete*/
/*https://github.com/jharding/typeahead.js-bootstrap.css/blob/master/typeahead.js-bootstrap.css*/
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
    margin-bottom: 0;
}

.tt-dropdown-menu {
    text-align: left;
    display: block;
    position: static;
    width: 100%;
    min-width: 160px;
    margin-top: 2px;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
    max-height: 300px;
    overflow-y: auto;
}

.tt-suggestion {
    display: block;
    padding: 3px 20px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-cursor a {
    color: #0081c2;
}

.tt-suggestion p {
    margin: 0;
}

.search-type {
    margin: 10px 20px 5px 20px;
    padding: 3px 0;
    border-bottom: 1px solid #ccc;
}

/*qtip style*/
.qtip-bootstrap {
    background-color: #ddd !important;
    border: none !important;
}

.qtip-bootstrap .qtip-titlebar {
    background-color: #3E87C6 !important;
}

.qtip-bootstrap .qtip-title {
    margin: 0px !important;
    font-weight: bold !important;
    padding: 3px !important;
    text-align: center !important;
    color: white !important;
}

.qtip-bootstrap .qtip-content ul {
    padding-left: 20px !important;
}

.qtip-bootstrap .qtip-content li {
    font-weight: bold !important;
}

.visit {
    background-color: transparent;
    text-align: center;
    margin: 10px 10px auto 10px;
}