{% extends "base.html" %}
{% block title %}
    <title>TODYP - About</title>
{% endblock %}

{% block content %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'about/about.css' %}"/>
    <div class="main">
        <div class="external">
            <ol class="breadcrumb">
                <li><a href={% url 'ypga.views.index' %}>Home</a></li>
                <li><a href="{% url 'about:index' %}">About</a></li>
                <li class="active">externalLinks</li>
            </ol>
            <div class="externalContent">
                More useful tools and database resources:
                <ol>
                    <li><b>DEG</b> <a href="http://tubic.tju.edu.cn/deg/">http://tubic.tju.edu.cn/deg</a></li>
                    <li><b>PHI-base</b> <a href="http://www.phi-base.org/">http://www.phi-base.org</a></li>
                    <li><b>GenomeRNAi</b> <a href="http://www.genomernai.org/">http://www.genomernai.org</a></li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}